<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ the_title }}</title>

    <!-- note the special href for files in the Flask "static" folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">


</head>
<body>

<header>
    <nav>
        <ul class="nav-links">
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('displayAll') }}" class="nav-link">Student Directory</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>

<main class="container">

    <!-- Jinja2 directives: page contents will go between them -->
    {% block content %}
    {% endblock %}
</main>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
<script type="text/javascript" src = "/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src = "/static/js/backupSort.js"></script>
<script type="text/javascript" src = "/static/js/searcchStudents.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

</body>
</html>
