{% extends 'base.html' %}

{% block content %}

    <h3> Full Student Details</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-responsive-lg" id="tables" style="width: 100%">
            {% if fourPairs %}
                <tr>
                    {% for key in fourPairs[0] %}
                        <th onclick="sortTable({{ loop.index0 }})" style="cursor: pointer" scope="col"> {{ key }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            {% for dict in fourPairs %}

                <tbody>
                <tr>
                    {% for pair in dict.values() %}

                        <td>{{ pair }}</td>
                    {% endfor %}


                </tr>
                </tbody>
            {% endfor %}

        </table>
    </div>
{% endblock %}

{#{% for key in dict_table[0] %}#}
{#  <th onclick="sortTable({{ loop.index0 }})" style="cursor:crosshair">{{ key }}</th>#}
{#{% endfor %}#}
