{% extends 'base.html' %}

{% block content %}

    <h3> Full Student Details</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-responsive-lg" id="tables" style="width: 100%">
            {% if fourPairs %}
                <tr>
                    {% for values in headers %}
                        <th onclick="sortTable({{ loop.index0 }})" style="cursor:pointer" scope="col"> {{ values }}</th>
                        {#            <th onclick="sortTable({{ 1 }})" style="cursor:pointer" scope="col"> City</th>#}
                        {#            <th onclick="sortTable({{ 2 }})" style="cursor:pointer" scope="col"> Country</th>#}
                    {% endfor %}
                </tr>
            {% endif %}
            {% for pair in fourPairs %}
                <tbody>
                <tr>
                    <td><a href="{{ pair[3] }}" target="_blank">{{ pair[0] }}</a></td>
                    <td>{{ pair[1] }}</td>
                    <td>{{ pair[2] }}</td>

                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}