{% extends 'base.html' %}

{% block content %}



    <div class="'container">
        <div class="col-md-12 text-center">
            <h1>{{ the_title }}</h1>
            {#    {% include "nav.html" %}#}
        </div>
    </div>

    <p>Click any Students</p>
    {#<body>#}
    {#    <form method="POST" action=""></form>#}
    {#        <p>#}
    {#            {{form.studentName.label}} <br>#}
    {#            {{form.studentName}}#}
    {#        </p>#}
    {##}
    {#        <p>#}
    {#            {{form.submit}} <br>#}
    {##}
    {#        </p>#}
    {#</body>#}

    <!-- pairs is a list that must be sent here by a route function

         The list will contain 45 pairs: a presidency number, and a
         president's name -->

    <!--       later editing change         -->
    <!--  url_for( 'detail', num=pair[0] )  -->
    <!--    inside double curly braces      -->

    {#    <ul>#}
    {#        {% for pair in pairs %}#}
    {#            <li><a href="{{ pair[1] }}">{{ pair[0] }}</a></li>#}
    {#        {% endfor %}#}
    {#    </ul>#}

    <div class="btn-group">
        <button type="button" class="btn btn-primary"> Student Names</button>
        <button class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
             {% for pair in pairs %}
                <a href="{{ url-for ( 'openWeb', link = pair[1] )}}" class="dropdown-item">{{ pair[0] }}</a>
                 <div class="dropdown-divider"></div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
